/* Pagination.css */

.pagination {
    display: flex;
    padding-left: 537px; /* Adjust as needed */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .pagination button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination button.active {
    background-color: green;
    color: white;
  }
  